* {
    border: none;
    z-index: 0;
}

.header {
    display: flex;
    width: 100%;
    place-items: center flex-start;
    margin: 94px 50px;
}

.header-nav {
    flex: 0 0 392px;
    display: block;
}

.header-nav ul{
    list-style-type: circle;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    gap: 1.8em;
}

.header-nav ul li.active {
  list-style: none;
  padding-left: 0;
}

.header-logo {
    background: url("../images/logo-black.svg") no-repeat;
    height: 105px;
    flex: 1 1 148px;
    margin-left: 40px;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    flex: 0 0 240px;
    margin-right: 100px;
}

.contacts {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    font-style: normal;
}

.cover {
    position: relative;
    width: 100%;
    background: url("../images/cover.jpg") center;
    background-size: cover ;
}

.cover-container {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    color: white;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.cover-title {
    display: flex;
    width: 100%;
    flex-direction: column;
    place-items: left flex-start; 
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
}

.sa-left {
    align-self: flex-start;
    margin-top: 165px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.sa-center {
    align-self: center;
    margin-left: 30px;
    margin-bottom: 18px;
}
.sa-right {
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 116px;
}

.cover-desc {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0px auto;
    font-size: 22px;
    font-weight: 400;
    word-spacing: 0.8em;
    text-transform: uppercase;
    margin-bottom: 50px;
    vertical-align: middle;
}

.cover-button {
    color:white;
    border: 1px solid white;
    width: 255px;
    text-transform: uppercase;
    font-size: 22px;
    background: transparent;
    padding: 12px;
    margin-top: -12px;
    text-decoration: none;
    text-align: center;
    word-spacing: normal;
}

.lots{
    display: grid;
    grid-template-rows: 74px auto 53px;
    width: 1055px;
    margin: 180px auto 0px;
}

.lots-header {
    grid-row: 1;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0px 41px;
}

.lots-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 25px;
    grid-row: 2;
}

.lot-frame {
    display: block;
    position: relative;
    background-size: cover;
    background-position: center;
}

.lot-card-1 {
   background-image: url("../images/card-lot-01.jpg");
}

.lot-card-2 {
   background-image: url("../images/card-lot-02.jpg"); 
}

.lot-card-3 {
   background-image: url("../images/card-lot-03.jpg"); 
}

.image-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 50%;
    z-index: -1;
}

.lot-desc-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 334px;
    height: 596px;
    color: white;
    padding: 48px 40px;
}

.lot-name {
    font-weight:  700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
}

.lot-link {
    text-decoration: none;
}

.lot-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.lots-footer-link {
    font-weight: 400px;
    font-size: 20px;
    margin: 30px 41px;
}

.about {
    display: flex;
    gap: 72px;
    margin: 120px auto 0;
    width: 1052px;
}

.about-logo {
    margin: 35px 0 0 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 240px;
    flex: 0 0 240px;
    background: black url("../images/logo-white.svg") center no-repeat;
    background-size: 148px 114px;
}

.about-desc {
    display: flex;
    flex-direction: column;
    flex: 0 0 693px;
    gap: 24px;
    margin-top: 130px;
}

.about-title {
    display: block;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.about-text {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 690px;
}

.footer {
    display: flex;
    margin: 180px 50px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    flex: 0 0 240px;
}

.footer-nav {
    flex: 1 1 164px;
    text-align: center;
}

.footer-nav ul{
    list-style: none;
}

.footer-active-link {
  text-decoration: none;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    flex: 0 0 240px;
    list-style: none;
    padding-left: 0;
}

.footer-socials-icon {
    display: block;
    height: 48px;
    width: 48px;
}

.socials-yt {
    background: url("../images/yt.svg") no-repeat;
}

.socials-vk {
    background: url("../images/vk.svg") no-repeat;
}

.socials-pt {
    background: url("../images/pinterest.svg") no-repeat;

}